<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.mapper.BoardMapper">

    <select id="getList" resultType="org.choongang.domain.BoardVO">
        <![CDATA[
            SELECT * FROM BOARD WHERE BNO > 0
        ]]>
    </select>

    <insert id="insert">
        INSERT INTO BOARD (TITLE, CONTENT, WRITER)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno">
        INSERT INTO BOARD (TITLE, CONTENT, WRITER)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="org.choongang.domain.BoardVO">
        SELECT * FROM BOARD WHERE BNO = #{bno}
    </select>

    <delete id="delete">
        DELETE FROM BOARD WHERE BNO = #{bno}
    </delete>

    <update id="update">
        UPDATE BOARD
            SET
                TITLE = #{title},
                CONTENT = #{content},
                WRITER = #{writer},
                UPDATEDATE = CURRENT_TIMESTAMP
        WHERE BNO = #{bno}
    </update>
</mapper>